
footer
  a(href="https://www.facebook.com/collin.perkins3")
    i.fa.fa-facebook
  a(href="https://twitter.com/Tallerfreak")
    i.fa.fa-twitter
  a(href="https://www.linkedin.com/in/collin-perkins-b95937107")
    i.fa.fa-linkedin

include ./scripts.jade
