header.main_h.sticky.navTransparent
  .row
    a.logo(href='#') CP
    .mobile-toggle
      span
      span
      span
    nav
      ul
        li
          a(href='.aboutMe') About Me
        li
          a(href='.experience') Experience         
        li
          a(href='.portfolio') Portfolio
        li
          a(href='.contact') Contact Me
  // / row
.hero
  h1
    span Collin Perkins
    br
  h3 "Hard work beats talent when talent doens't work hard."
  h4 - Tim Notke
  ul.chevronList
    icon(class="icon icon-chevron-down-1")
    icon(class="icon icon-chevron-down-1")
    icon(class="icon icon-chevron-down-1")
