footer {
  text-align: center;
  color: $text-h3-color;
  background-color: $nav-background;
  width: 100%;
  height: 150px;
  a {
    color: $text-h3-color;
    .fa {
      border-radius: 50%;
      padding: 15px;
      font-size: 30px;
      margin-top: 40px;
      &:hover {
        color: $text-secondary-color;
        cursor: pointer;
      }
    }
  }
}
